# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [7]:
import pandas as pd
import numpy as np
import random

In [19]:
country = ['USA', 'CANADA', 'TAIWAN']
country2 = random.choices(country,k=10) #抽後放回 #random.sample(country,10)抽後不放回會error，因為沒有10個可以抽
people = np.random.randint(100,size=10)

In [20]:
data = {'國家': country2,
        '人口': people}
data = pd.DataFrame(data)

In [21]:
print(data)

       國家  人口
0  CANADA  24
1  CANADA  46
2  CANADA  88
3  CANADA   8
4  CANADA  97
5  TAIWAN   5
6     USA   3
7  CANADA  44
8  CANADA  22
9  TAIWAN   1

In [22]:
data.groupby(by="國家")['人口'].mean()

國家
CANADA    47
TAIWAN     3
USA        3
Name: 人口, dtype: int32

In [23]:
data.groupby(by="國家")['人口'].max()

國家
CANADA    97
TAIWAN     5
USA        3
Name: 人口, dtype: int32

In [24]:
data['人口'].max()

97

In [32]:
data[data['人口']==data['人口'].max()]

       國家  人口
4  CANADA  97